body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.heading-container {
    position: fixed;
    top: 8px;
    left: 20px;
}

.heading-container h1 {
    margin-bottom: 0; /* Remove the default margin-bottom */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #ff2261; /* Bootstrap's info color */
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #cb0519; /* Darker shade on hover */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.logout-container {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: center;
}

.logout-container a {
    color: #fff;
    text-decoration: none;
    background-color: #ff2261;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.logout-container a:hover {
    background-color: #cb0519;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.courses-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    transition: box-shadow 0.3s;
}

/* Style for course list */
.courses-list {
    list-style: none;
    padding: 0;
}

.courses-list li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: auto;
    margin-top: 20px;
    color: #ccc;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
